body {
  background: url('assets/mountain.jpg') no-repeat fixed top;
  background-size: cover;
}

h1, h4, h5 {
  color:white;
}

h2, h3 {
  color:#fd9727;
}

.jumbotron {
    background: rgb(39, 39, 39);
    height: 100%;
    padding: 12px;
}

.logo {
  background: url('assets/mountain.jpg') no-repeat fixed top;
  background-size: cover;
}